.login-form {
  max-width: 25rem;
  margin: var(--space-8) auto;
  padding: var(--space-4);
  background-color: var(--color-gray-600);
  border-radius: var(--border-radius-medium);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container input {
  width: 100%;
}
