.container {
  display: flex;
  flex-direction: column;
}

.container .restaurant-image {
  height: 450px;
  object-fit: cover;
}

.container .description {
  line-height: 30px;
  font-size: 1.1rem;
}

.reservation-form-section {
  border: 2px solid var(--color-border);
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-6);
  border-radius: var(--border-radius-medium);
  margin-bottom: var(--space-6);
}
